<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script type="text/javascript">
    document.getElementById('btn').addEventListener("click", function () {
      window.ReactNativeWebView.postMessage("cancel");
    });

    window.ReactNativeWebView.postMessage("cancel");
    (function () {
      window.ReactNativeWebView.postMessage("cancel");
    })();
    window.onload = function () {
      window.ReactNativeWebView.postMessage("cancel");
    }

    window.addEventListener('load', onload, false);

    function onload() {
      window.ReactNativeWebView.postMessage("cancel");
    }
  </script>
</head>

<body>
  <div class="container">
    <h1>Vous avez annulé votre paiement</h1>
    <h2 style="text-align: center;">Vous serez redirigé vers l'application sinon cliquer sur le bouton ci-dessous</h2>
    <div class="d-grid gap-2">
      <button id='btn' class="btn btn-primary">
        Retourner sur l'application
      </button>
    </div>
  </div>
  <script type="text/javascript">
    document.getElementById('btn').addEventListener("click", function () {
      window.ReactNativeWebView.postMessage("cancel");
    });

    window.ReactNativeWebView.postMessage("cancel");
    (function () {
      window.ReactNativeWebView.postMessage("cancel");
    })();
    window.onload = function () {
      window.ReactNativeWebView.postMessage("cancel");
    }

    window.addEventListener('load', onload, false);

    function onload() {
      window.ReactNativeWebView.postMessage("cancel");
    }
  </script>
</body>

</html>